body {
    font-family:  "PT Serif", serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000; 
    color: white; 
}

.container {
    width: 100%;
    max-width: 400px;
    background-color: #333333; 
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 8px;
}

h1 {
    margin-bottom: 20px;
    color: white; /* White text color for the heading */
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #444; 
    color: white; 
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin: 10px 0;
    background-color: #555; 
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
    color: gray;
}

button.delete {
    background-color: #f44336;
    padding: 5px 10px
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.delete:hover {
    background-color: #d32f2f;
}
